<div class="user-block clearfix">
  <a class="avatar link">
    <img {{bind-attr src=user.avatar}}>
  </a>
  <div class="name">
    {{#link-to 'user.posts' user classNames='link'}}{{user.name}}{{/link-to}}
  </div>

  {{#if user.followed}}

    <button {{action 'unfollow'}} class="blue-btn follow relative-center-y">
      Unfollow
    </button>

  {{else}}

    <button {{action 'follow'}} class="blue-btn follow relative-center-y">
      Follow
    </button>

  {{/if}}
</div>
