{{#if isReposting}}

  <div class="post-block clearfix confirm-repost">
    <img class="avatar" src="images/icon-retweet.png"/>

    <div class="content">
      <div class="question">Repost this to your followers?</div>
      <div class="footer">
        <a class="blue-link" {{action 'confirmRepost'}}>Yes</a>
        <span class="middot">&middot;</span>
        <a class="blue-link" {{action 'toggleRepost'}}>No</a>
      </div>
    </div>
  </div>

{{else}}

  <div class="post-block clearfix">

    {{#if post.repostedFrom}}
      <div class="repost-header clearfix">
        <img class="icon" src="images/icon-retweet.png"/>
        <div class="author">Reposted by <a class="dark-gray-link">{{post.author.name}}</a></div>
      </div>
    {{/if}}

    <a class="avatar link"><img {{bind-attr src=authorDisplay.avatar}}></a>

    <div class="content">
      <div class="author"><a class="link">{{authorDisplay.name}}<a></div>
      <div class="text">{{post.body}} {{reposted}}</div>
      <div class="footer">
        <span>{{ago post.createdAt}}</span>
        <span class="middot">&middot;</span>

        {{#if post.repostedFrom}}
          <span>Reposted</span>
        {{else}}
          <a class="blue-link" {{action 'toggleRepost'}}>Repost</a>
        {{/if}}

        {{#if owned}}
          <span class="middot">&middot;</span>
          <a class="blue-link" {{action 'deletePost'}}>Delete</a>
        {{/if}}

      </div>
    </div>
  </div>

{{/if}}
