{{#if inputIsFocused}}
  {{input value=inputText classNames='select-input'}}
  <ul class="dropdown">
    {{#each result in resultList}}
      <li {{bind-attr class="result.active:active"}}><a {{action 'selectItem' result}}>{{result.object.name}}</a></li>
    {{/each}}
  </ul>

{{else}}
  <div {{action 'openSelect'}}>
    <label for="#">{{label}}</label>
  </div>
{{/if}}
