<h2 class="sign-in-form-header">Create your account</h2>
<div class="form-error">
  {{errors}}
</div>
<form>
  {{input type="text" value=name placeholder='Enter your name...' classNames='username-input'}}
  {{input type="text" value=username placeholder='Enter your username...' classNames='username-input'}}
  {{input type="text" value=email placeholder='Enter your email...' classNames='username-input'}}
  {{input type="password" value=password placeholder='Enter your password...' classNames='password-input'}}

  <div class="call-to-action-options clearfix">
    <button {{action 'signUp'}} class="input-button">
      Sign up
    </button>
    <p class="forget-or-sign-up">
      {{#link-to 'account.login'}}Login{{/link-to}}
    </p>
  </div> <!-- Call to action options -->
</form>
