<div class="title">
  Create your account
</div>
<div class="form-error">
  {{errors}}
</div>
<form class="auth-form">
  {{input type="text" value=name placeholder='Enter your name...' classNames='auth-input'}}
  {{input type="text" value=username placeholder='Enter your username...' classNames='auth-input'}}
  {{input type="text" value=email placeholder='Enter your email...' classNames='auth-input'}}
  {{input type="password" value=password placeholder='Enter your password...' classNames='auth-input'}}
  <div class="form-footer clearfix">
    <button {{action 'signUp'}} class="blue-btn submit">
      Sign up
    </button>
    <div class="alternatives">
      {{#link-to 'account.login' classNames='blue-link'}}Login{{/link-to}}
    </div>
  </div>
</form>
