<h5>posts:  (<span {{action 'nextPage'}}>next</span>)</h5>
{{#each post in posts}}
  <ul>{{post.author.name}}  /  {{post.body}}</ul>
{{/each}}

<h5>posts2:   (<span {{action 'nextPage2'}}>next</span>)</h5>
{{#each post2 in posts2}}
  <ul>{{post2.author.name}}  /  {{post2.body}}</ul>
{{/each}}
