{{#modal-base title="Edit Your Account" removeModal='removeModal'}}
    <div class="rect clearfix">
      <div class="left">
        <img class="absolute-center-xy" src="images/telegram-logo.png"/>
      </div>
      <div class="right">
        <img class="postmark" src="images/postmark.png"/>
        <div class="clear"></div>
        <div class="content">
          <div class="left">
            <img class="absolute-center-xy" src="images/telegram-logo.png"/>
          </div>
          <div class="right">
            <img class="postmark" src="images/postmark.png"/>
            <div class="clear"></div>
            <div class="content">
              <div class="title">
                Edit your account
              </div>
              <form class="auth-form">
                {{input type="text" value=model.name classNames='auth-input'}}

                {{view "select"
                content=avatarList
                optionValuePath="content.url"
                optionLabelPath="content.name"
                value=model.avatar}}

                {{super-select
                    content=moodList
                    optionValuePath="content"
                    optionLabelPath="content.name"
                    value=model.mood
                }}

                <div {{action 'editAccount'}} class="form-footer clearfix">
                  <button class="blue-btn submit">
                    Update
                  </button>
                  <div class="alternatives">
                    <a href="#" {{action 'closeUserModal'}} class="blue-link">Cancel</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{{/modal-base}}
