<div class="posts-list">
  {{#each post in controller}}
    {{post-block post=post repost="repost" deletePost='deletePost' currentUser=userSession.user pushArray='user.posts'}}
  {{/each}}
</div>
<h5>
  {{#if firstPage}}
    <span>first</span>
  {{else}}
    <span {{action 'previousPage'}}>previous</span>
  {{/if}}

  <span> - {{displayPage}} of {{totalPages}} - </span>

  {{#if lastPage}}
    <span>last</span>
  {{else}}
    <span {{action 'nextPage'}}>next</span>
  {{/if}}
</h5>
