{{nav-bar session=userSession}}



<div class="dashboard">
  <div class="create-post">
    {{textarea placeholder="What's happening?" autofocus="autofocus" value=body}}
    <div class="footer clearfix">
      <div class="characters-left">{{characters}} characters</div>
      <button {{action 'savePost'}} class="publish dark-gray-btn">
        Publish
      </button>
    </div>
  </div>

  <div class="title">Latest posts</div>

  <div class="posts-list">
    {{#each post in controller}}
      {{post-block post=post repost="repost" deletePost='deletePost' currentUser=userSession.user}}
    {{/each}}
  </div>
</div>
