{{nav-bar session=userSession}}

<div class="profile">
  <div class="user-header">
    <img class="avatar" {{bind-attr src=model.avatar}}>
    <div class="name">{{model.name}}</div>
    <div class="username">@{{model.id}}</div>

    {{#if user.followed}}
      <button {{action 'unfollow' model}} class="blue-btn follow relative-center-y">
        Unfollow
      </button>
    {{else}}
      <button {{action 'follow' model}} class="blue-btn follow relative-center-y">
        Follow
      </button>
    {{/if}}
  </div>

  <div class="tab-header">
    {{#link-to 'user.posts' model classNames='tab'}}Posts{{/link-to}}
    {{#link-to 'user.following' model classNames='tab'}}Following{{/link-to}}
    {{#link-to 'user.followers' model classNames='tab'}}Followers{{/link-to}}
  </div>

  {{liquid-outlet}}

</div>
